<div id="<%= dom_id(comment) %>">
  <div class="display-comments">
    <p><%= comment.body %></p>
    <%= link_to "Edit", edit_post_comment_path(@post, comment), remote: true %>
    |
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
    <p><strong><%= comment.user.name_display %></strong> on <%= formatted_date(comment.updated_at) %> at <%= time_written(comment.updated_at) %> <p>
  </div>
</div>
