<!DOCTYPE html>
<html>
<head>
  <title>PracticeBlog</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="header">
  <%= link_to "Home", root_path %>
  |
  <%= link_to "All Posts", posts_path %>
  |
  <%= link_to "New Post", new_post_path %>

  <div class="sign-in">
    <% if user_signed_in? %>
        <%# current user is a method from Devise that gives you the user %>
        <%# object for the currently logged in user %>
        Welcome <%= current_user.name_display %>,
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %> |
        <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>
</nav>

<div class="container main">
  <%= flash[:notice] || flash[:alert] %>
  <%= yield %>
</div>

</body>
</html>

